.MiTemps-time {
    position: absolute;
    top: 35%;
    right: 0;
    color: white;
    font-size: 100px;
    font-weight: 900;
    width: 725px;
    text-align: center;
    text-transform: uppercase;
}