.Match-container {
    display: flex;
    padding: 0;
    border: 0;
    border-bottom: 1px;
    border-color: white;
    border-style: solid;
}

.Match-text-container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 200px);
    margin: 0 25px;
}

.Match-text-container .Match-team-name {
    width: 95px;
    text-align: center;
}

.Match-text-container p {
    text-transform: uppercase;
}

.Match-img-container {
    height: max-content;
    width: 75px;
    display: flex;
    justify-items: center;
}

.Match-img-container img {
    height: 30px;
    width: auto;
    margin: 10px auto;
}