.Match-container {
    height: 40px;
    display: flex;
    padding: 0;
    border: 0;
    border-bottom: 1px;
    border-color: white;
    border-style: solid;
}

.Match-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 100px);
    margin: 0 5px;
}

.Match-text-container .Match-team-name {
    width: 135px;
}

.Match-text-container p {
    text-transform: uppercase;
    font-size: smaller;
}

.Match-img-container {
    height: max-content;
    width: 75px;
    display: flex;
    justify-items: center;
}

.Match-img-container img {
    height: 20px;
    width: auto;
    margin: 10px auto;
}